{% extends 'base.html' %}
{% block body %}
<h3>Form</h3>
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            <div class="form-group">
                {{ form.title }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                {{ form.content }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                {{ form.date_posted }}
            </div>
        </div>
    </div>


    <input type="submit">
</form>
{% endblock %}